<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.proofyourself.springProject"/>

    <!--<bean id="player" class="com.proofyourself.springProject.MusicPlayer" scope="prototype">-->
        <!--<property name="musicList" ref="bean1"/>-->
        <!--<property name="name" value="Some name"/>-->
        <!--<property name="volume" value="70"/>-->
    <!--</bean>-->
</beans>